{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="fw-bold">It appears something went wrong...</h1>
                <hr>
                <p>Please find your way back here:</p>
                <a class="btn btn-outline-primary btn-sm" href="/">Home</a>
            </div>
        </div>
    </div>
</section>
{% endblock content %}