{% extends "base.html" %}
{% block content %}
<!-- Page Content -->
<section class="py-5">
    <div class="container px-lg-5">
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <div class="m-4 m-lg-5">
                <h1 class="fw-bold">Edit Task:</h1>
                <hr>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary btn-m">Edit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}