{% extends "base.html" %}
{% block content %}
<!-- Page Content-->
<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            {% for list in lists %}
            <div class="col-lg-6 col-xxl-4 mb-5">
                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><a
                                class="btn btn-primary btn-lg" href="#!"><i class="bi bi-pencil"></i></a></div>
                        {% if list.done %}
                        <strike>
                            <h2 class="fs-4 fw-bold">{{ list.name }}</h2>
                        </strike>
                        {% else %}
                        <h2 class="fs-4 fw-bold">{{ list.name }}</h2>
                        {% endif %}
                        <p class="mb-0">tasks</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}